# Vivado
*.jou
*.log
*.str
*.wdb
*.wcfg
*.xpr
.Xil/
.cache/
.gen/
.runs/
.sim/
*.tmp

# Vivado project subfolders
sim/**/.Xil/
sim/**/.cache/
sim/**/.gen/
sim/**/.runs/
sim/**/.sim/
sim/**/*.wpc
sim/**/*.lpr

# Gowin
*.fs
impl/
syn/
pnr/
*.log

# OS / editor
.DS_Store
Thumbs.db